apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${API_APP}
  namespace: ${NAMESPACE}
  labels:
    app: ${API_APP}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: ${API_APP}
  template:
    metadata:
      labels:
        app: ${API_APP}
    spec:
      containers:
        - name: api
          image: ${API_IMAGE_URI}
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 20
